$color-text-primary:#f7f7f7;
$color-text-secondary:#91969f;
$color-text-accent: #4ed5ff;
$color-border: #333538;
$color-btn-primary: #fee32a;
$color-btn-secondary: #e63950;
$bg-color:#121212;
$bg-list: #1b1e29;

$min-radius:3px;
$main-radius:8px;


@mixin font-inter ($size:2.5rem, $weight:400, $color:$color-text-primary){
    font-family: 'Inter',sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: 150%;
    letter-spacing: 0.02rem;
    color: $color;
}

@mixin font-oswald ($size:2.5rem, $weight:400, $color:$color-text-primary){
    font-family: 'Oswald',sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: 150%;
    color: $color;
}